<p style="color: green"><%= notice %></p>

<div>
  <div></div>
  
</div>
<div class='row justify-content-end'>
  <div class='col-md-2 m-0 text-center'>
  <%= button_to "Editar esse livro", edit_book_path(@book), :method => :get %> 
  </div>
    <div class='col-md-2  text-center'>
      <%= button_to "Voltar para livros", books_path, :method => :get  %>
    </div>
</div>

<%= render @book %>
 


<div>

  <div class='container'>
  <div class='row m-5'>
    <div class='col-md-12 text-center'>
  <%= button_to "Excluir", @book, method: :delete %>
    </div>
      </div>
      </div>
    